{% extends "base.html" %}
{% block content %}
    <div class="container page-form">
        <form id="login-form" action="/auth/login" method="post">
            <div class="form-group">
                <b> <label for="email" class="card-title align-content-md-center"> Email </label></b>
                <input type="text" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
                <b><label for="password" class="align-self-auto"> Password</label></b>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-cyan bounceOut rounded-pill"> Login</button>
            </div>
        </form>
    </div>
{% endblock %}