{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="container page-form ">
            <h2> {{ email }}'s blogs </h2>
        </div>
        <div class=" form-group">
            <a href="/blogs/new">
                <button class="btn rounded-pill btn-primary"> New Blog</button>
            </a>


            <a href="/user/home" methods="post">
                <button class="btn rounded-pill btn-teal "> Home</button>
            </a>
            <a href="/blogs">
                <button class="btn rounded-pill btn-cyan"> Your Blogs</button>
            </a>
            <a href="/user/logout">
                <button class="btn rounded-pill btn-danger"> Logout</button>
            </a>
        </div>
        {% for blog in blogs %}
            <h3><a href="/posts/{{ blog._id }}"> {{ blog.title }} </a></h3>
            <p> {{ blog.description }}</p>
            <div class="form-group">
                <a href="/blogs/update/{{ blog._id }}">
                    <button class="btn btn-primary"> Update Blog</button>
                </a>
                <a href="/blogs/del/{{ blog._id }}">
                    <button class="btn btn-danger"> Delete</button>
                </a>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}